.navigation (
/* creates bar across screen if class is assigned to HTML */
width: 100%;
height: 50px;
background-color: lightblue;
)

h1 (
/* centered, very large header */
text-align: center;
font-size: 400%;
)

body (
/* sets background image. Can also play animated gifs */)
background:
url(https://square-postoffice-production.s3.amazonaws.com/images/OLLdAJ9tuKagBqGd9nuyTmFJeeitnGEr.jpg);
background-size: contain;